*{ 
    margin: 0px; 
    padding: 0px; 
} 

#container{ 
    width:100vw; 
    height:100vh;   
    background-image:linear-gradient(rgba(0, 0, 0, 0.497) ,rgba(128, 128, 128, 0.158)), url(../assets/images/simon-english-48nerZQCHgo-unsplash.jpg); 
    background-repeat: no-repeat; 
    background-size: 100%; 
} 
#nv{ 
    width:700px; 
    height:500px; 
    position: absolute; 
    right: 20px; 
    bottom: 20px; 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    align-items: center; 
   

} 
#HOME{ 
    font-size: 30px; 
    display: flex; 
    list-style:none; 
} 
.li{ 
    padding-left: 20px; 
    padding-top: 20px; 
    transition:  all 2s; 
} 
#log{ 
    position: absolute; 
    right:30px; 
} 
.li:hover{ 
    transform:scale(1.2); 
    color: white; 
} 
.place{  
    width:250px; 
    height:200px; 
    border: 2px solid white; 
    display: flex; 
    justify-content: center;         
    align-items: center; 
    color: transparent; 
    transition: transform 0.5s; 
    text-transform: uppercase; 
    border-radius: 10px; 
   
} 
.place:hover{ 
    transform: scale(1.2); 
    color: black; 
    box-shadow: 2px 3px 5px orangered,-5px -6px 8px red;
    text-shadow: 5px 5px 5px black; 

} 
#place1{ 
    background-image: url(../assets/images/india.jpg); 
    background-size: 100% 200px; 
    background-repeat: no-repeat; 
    text-align: center; 
    font-size: 30px; 
    color: white; 
   
     
} 
#place2{ 
    background-image: url(../assets/images/us.jpg); 
    background-size: 100%  200px; 
    background-repeat: no-repeat; 
    text-align: center; 
    font-size: 30px; 
    color: white; 
} 
#place3{ 
    background-image: url(../assets/images/uk.webp); 
    background-size: 100% 200px; 
    background-repeat: no-repeat; 
    text-align: center; 
    font-size: 30px; 
    color: white; 
} 
#place4{ 
    background-image: url(../assets/images/russia.jpg); 
    background-size: 100% 200px; 
    background-repeat: no-repeat; 
    text-align: center; 
    font-size: 30px; 
    color: white; 
} 
#kmm{ 
    font-size: 60px; 
    color:chartreuse; 
    padding-top: 60px; 
    text-shadow: 5px 5px 5px white; 
} 